:root {
    --blue: #ee84a4;
    --dark-pink: #8fc5e9;
    --light-pink: #ffb0fe;
    --creme: #ffecd3;
  }
  
  body {
    padding: 0;
    margin: 30px;
    background-color: var(--blue);
  }
  
  .calcContainer {
    display: flex;
    width: 350px;
    height: 520px;
    background-color: var(--dark-pink);
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    margin-left: 500px;
    margin-top: 65px;
    border-radius: 40px;
  }
  
  input {
    background-color: var(--creme);
    color: var(--blue);
    width: 300px;
    margin-top: 27px;
    height: 75px;
    border: none;
    border-radius: 30px;
  }
  
  .buttons {
    font-size: larger;
    width: 90px;
    height: 60px;
    border: none;
    margin: 6px;
    border-radius: 10px;
    cursor:pointer;
    color: var(--creme);
    background-color: var(--blue);
  }
  
  .buttonContainer {
    height: 380px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  
  .calcScreen {
    text-align: right;
    font-size: 45px;
    padding-right: 12px;
  }